# Activa mod_rewrite
RewriteEngine On

# Si el archivo o directorio no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe las peticiones sin extensión a su .php correspondiente
RewriteRule ^([^/]+)$ $1.php [L]

<IfModule mod_headers.c>
    <FilesMatch "\.js$">
        Header set X-Content-Type-Options "nosniff"
    </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
    Header always edit Set-Cookie "(?i)(^.*)$" "$1; SameSite=Lax"
</IfModule>